
.main{
    display:inline-block;
    width: 100%;
    height: 400px;
    background-color:#22213d;
}
.title{
    font-size: x-large;
    text-align: left;
    color: rgb(255, 255, 255);
    margin-left: 2%;
}

.buttom
{
    height: 3em;
    width: 7em;
    border: 2.5px solid #a9c4df;
    border-radius: 15px;
    font-size: 1em;
    color: aliceblue;
    background-color: rgb(157, 158, 214);
    margin-top: 7%;
    margin-left: 1.5em;
}

.buttom:hover { /*:hover代表滑鼠移到元素上時的狀態*/ 
    transform: scale(1.05); /*將元素放大1.05倍*/
    color: rgb(157, 158, 214);
    background-color: rgb(247, 247, 247);
    border: 3.5px solid #a9c4df;
  }

.buttom-block{
    height: 40%;
    width: 80%;
    margin-left: 4%;
}

.subtitle{
    margin-left: 1%;
}

.Lab-news{
    display:inline-block;
    margin-bottom: 10%;
}

.three{
    display:inline-block;
    width: 80%;
    height: 60%;
    position: relative;
    margin-left: 10%;

}

.PageChange-left{
    height: 5%;
    width: 5%;
    border: 0px solid #999;
    opacity:0.6;
    float: left;
    margin-top: 10%;
}
.PageChange-left:hover { /*:hover代表滑鼠移到元素上時的狀態*/ 
    transform: scale(1.05); /*將元素放大1.05倍*/
    opacity:1;
  }

.PageChange-right{
    height: 5%;
    width: 5%;
    border: 0px solid #999;
    opacity:0.6;
    margin-top: 10%;
    float: right;
}
.PageChange-right:hover { /*:hover代表滑鼠移到元素上時的狀態*/ 
    transform: scale(1.05); /*將元素放大1.05倍*/
    opacity:1;
  }


